.pcc-body {
    position: relative;
    height: 250px;
    width: 500px;
    background-color: transparent;
    user-select: none;
}

.pcc-front {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 0.15s linear;
    z-index: 3;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.pcc-front img {
    width: 250px;
    height: 200px;
}
.pcc-body:hover > .pcc-front {
    opacity: 0;
    z-index: -1;
}


.pcc-back {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #5F9EA0;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    font-family: 'Rubik', sans-serif;
}
.pcc-back p {
    padding-left: 20px;
    padding-right: 20px;
    font-size: 18px;
}
.pcc-back p:first-child {
    margin-top: 30px;
    font-weight: 500;
}
.pcc-back-link {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border: 3px solid black;
    height: 10%;
    border-radius: 10px;
    font-size: 16px;
    z-index: 2;
    cursor: pointer;
    transition: all 0.15s linear;
    padding: 20px;
    margin-bottom: 30px;
}

.pcc-back-link a {
    text-decoration: none;
    color: #000;
    transition: color 0.15 linear;
}
.pcc-back-link:hover {
    background-color: black;
    color: white;
}
.pcc-back-link:hover > a {
    color: white;
}

@media screen and (max-width: 720px) {
    .pcc-body {
        min-width: 230px;
        height: 115px;
    }
    .pcc-front {
        border-radius: 8px;
    }
    .pcc-front img {
        width: 150px;
        height: 120px;
        border-radius: 8px;
    }
    .pcc-back {
        border-radius: 8px;
    }
    .pcc-back p {
        font-size: 12px;
        width: 90%;
    }
    .pcc-back-link {
        font-size: 11px;
        padding: 7px;
        border: 1.5px solid black;
        border-radius: 5px;
        margin-top: -10px;
        height: 7%;
        gap: 10px;
    }
}