.projectCardContainer {
    position: relative;
    height: 250px;
    width: 500px;
    background-color: transparent;
    user-select: none;
}

.projFront {
    width: 100%;
    height: 100%;
    position: absolute;
    transition: opacity 0.15s linear;
    z-index: 3;
    border-radius: 25px;
}
.projectCardContainer:hover > .projFront {
    opacity: 0;
    z-index: -1;
}

.projImage {
    width: 100%;
    height: 100%;
    border-radius: 25px;
}
#card0 {
    box-shadow: 0px 0px 10px #ffd000;
}
#card1 {
    box-shadow: 0px 0px 10px #ffaa00;
}
#card2 {
    box-shadow: 0px 0px 10px #ff0051;
}
#card3 {
    box-shadow: 0px 0px 10px #00ffc3;
}
#card4 {
    box-shadow: 0px 0px 10px #00ffea;
}
#card5 {
    box-shadow: 0px 0px 10px #008cff;
}
#card6 {
    box-shadow: 0px 0px 10px #ff7700;
}
#backcard0 {
    background-color: #FFD832;
}
#backcard1 {
    background-color: #D5BB85;
}
#backcard2 {
    background-color: #FFE1EB;
}
#backcard3 {
    background-color: #A7F5E3;
}
#backcard4 {
    background-color: #D3FFFB;
}
#backcard5 {
    background-color: #C1E3FF;
}
#backcard6 {
    background-color: #997C64;
}

.projBack {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #5F9EA0;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    z-index: 1;
    font-family: 'Rubik', sans-serif;
}
.projDesc {
    font-size: 18px;
    width: 80%;
}
.projBackLink {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    border: 3px solid black;
    padding: 0px;
    height: 10%;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    z-index: 2;
    cursor: pointer;
    transition: all 0.15s linear;
}

.projBackLink a {
    text-decoration: none;
    color: #000;
    transition: color 0.15 linear;
}
.projBackLink:hover {
    background-color: black;
    color: white;
}
.projBackLink:hover > a {
    color: white;
}

@media screen and (max-width: 720px) {
    .projectCardContainer {
        min-width: 230px;
        height: 115px;
    }
    .projFront {
        border-radius: 8px;
    }
    .projImage {
        border-radius: 8px;
    }
    .projBack {
        border-radius: 8px;
    }
    .projDesc {
        font-size: 12px;
        width: 90%;
    }
    .projBackLink {
        font-size: 11px;
        padding: 7px;
        border: 1.5px solid black;
        border-radius: 5px;
        margin-top: -10px;
        height: 7%;
        gap: 10px;
    }
}