body {
    overflow-x: hidden;
}
.aboutBody {
    height: 100%;
    padding-bottom: 50px;;
    max-width: 100vw;
    background-color: #5B6984;
    overflow-x: hidden;
    user-select: none;
    scroll-behavior: smooth;
}
.homeLink {
    position: absolute;
    font-size: 36px;
    top: 30px;
    left: 30px;
}
.aboutText {
    margin: 0;
    margin-top: 20px;
    white-space: nowrap;
    text-align: center;
    color: white;
    font-family: 'Fugaz One', cursive;
    font-size: 20px;
}
#introText {
    margin-top: 20%;
    font-size: 64px;
    text-shadow: 0px 3px 2px #ff3a6b;
}
.rijulImgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 350px;
    width: 100vw;
}
#rijulsarji {
    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 100%;
    box-shadow: 0px 0px 20px #ff3a6b;
    opacity: 0;
    z-index: 2;
}
.leftDesign {
    position: absolute;
    left: 0;
    top: 80px;
}
.rightDesign {
    position: absolute;
    right: 0;
    top: 80px;
}
.leftImg {
    width: 100px;
}
.rightImg {
    width: 100px;
}
#leftRImg {
    position: absolute;
    right: 120px;
}
#rightLImg {
    position: absolute;
    left: 120px;
}
.descContainer {
    width: 100vw;
    margin-top: 50px;
    display: flex;
    justify-content: center;
}
.aboutDesc {
    width: 60%;
    color: white;
    font-family: 'Rubik', sans-serif;
    font-size: 24px;
    line-height: 40px;
    text-shadow: 0px 1px 1px #ff3a6b;
}
.socialMediaDiv {
    width: 30%;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    align-items: center;
    font-size: 32px;
    padding-top: 25px;
}
.socialMediaDiv a {
    color: white;
    transition: color 0.15s linear;
}
#linkedin:hover {
    color: #3497fa;
}
#github:hover {
    color: #000000;
}
#dribble:hover {
    color: #EA4C89;
}
#twitter:hover {
    color: #1D9BF0;
}
#instagram:hover {
    color: #cd49df;
}
#mail:hover {
    color: #CA3A2D
}

@media screen and (max-width: 720px) {
    .homeLink {
        font-size: 28px;
        top: 15px;
        left: 15px;
    }
    .aboutText {
        font-size: 16px;
    }
    #introText {
        top: 480px;
        font-size: 32px;
        text-shadow: 0px 2px 1px #ff3a6b;
    }
    .rijulImgContainer {
        top: 500px;
    }
    #rijulsarji {
        width: 200px;
    }
    .leftDesign {
        top: 200px;
    }
    .rightDesign {
        top: 200px;
    }
    .leftImg {
        width: 40px;
    }
    .rightImg {
        width: 40px;
    }
    #leftRImg {
        right: 50px;
    }
    #rightLImg {
        left: 50px;
    }
    .aboutDesc {
        width: 80%;
        font-size: 18px;
        line-height: 32px;
        text-align: center;
    }
    .socialMediaDiv {
        width: 80%;
    }
}