* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,
body {
    /* cursor: none; */
    color: #fff;
    font-family: "Inter", sans-serif;
}

html *,
body * {
    /* cursor: none; */
}