* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html,
body {
    /* cursor: none; */
    color: #fff;
    font-family: "Inter", sans-serif;
}

.loader {
    display: flex;
    width: 100vw;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 128px;
}